127.0.0.1       localhost
::1             localhost ip6-localhost ip6-loopback
ff02::1         ip6-allnodes
ff02::2         ip6-allrouters

127.0.1.1       master
172.19.181.1    nodep1
172.19.181.2    nodep2
172.19.181.3    nodep3
172.19.181.4    nodep4
