---
apiVersion: v1
kind: Namespace
metadata:
  name: gitlab-runner
  labels:
    name: gitlab-runner

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gitlab-runner
  namespace: gitlab-runner
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create", "patch", "delete"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gitlab-runner
  namespace: gitlab-runner
subjects:
  - kind: Group
    name: system:serviceaccounts:gitlab-runner
    apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: gitlab-runner
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: gitlab-runner
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: gitlab-runner
    meta.helm.sh/release-namespace: gitlab-runner
  name: gitlab-runner
  namespace: gitlab-runner
spec:
  replicas: 1
  selector:
    matchLabels:
      name: gitlab-runner
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: gitlab-runner
    spec:
      containers:
        - image: gitlab/gitlab-runner
          name: gitlab-runner
          ports:
            - containerPort: 8093
          resources: {}
          volumeMounts:
            - mountPath: /home/gitlab-runner/.gitlab-runner
              name: gitlab-runner-config-new
            - mountPath: /etc/gitlab-runner
              name: gitlab-runner-config
            - mountPath: /var/run/docker.sock
              name: gitlab-runner-docker
      restartPolicy: Always
      volumes:
        - name: gitlab-runner-config-new
          hostPath:
            path: /srv/gitlab-runner/config2
            type: DirectoryOrCreate
        - name: gitlab-runner-config
          hostPath:
            path: /srv/gitlab-runner/config
            type: DirectoryOrCreate
        - name: gitlab-runner-docker
          hostPath:
            path: /var/run/docker.sock
status: {}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: gitlab-runner
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: gitlab-runner
    meta.helm.sh/release-namespace: gitlab-runner
  name: gitlab-runner
  namespace: gitlab-runner
spec:  
  ports:
    - name: "8093"
      port: 8093
      targetPort: 8093
  selector:
    name: gitlab-runner
status:
  loadBalancer: {}
